
{% extends "pricecheck/base.html" %}

   {% load static %}
    {% block content %}
    <div id="test" align="center" class="row">
    <div class="col-12">

        {% if user.is_authenticated %}
    <form method="post">
        {{form.as_p}}
        {% csrf_token %}
    <button type="submit" class="btn btn-primary">Get Price</button>
    </form>
        {% endif %}
        {% if not user.is_authenticated %}
        <p>Please Login first!</p>
        {% endif %}
                {% if error %}
            <div align="center" class="alert alert-danger" role="alert">
            Please Check The Url
            </div>
                {% endif %}
</div>
    </div>

        <div class="row">

         {% if alerts %}
              {% for i in alerts %}
                {% if user.email == i.user_Email %}
<div class="col-sm-2">
            <div class="card" style="width: 14rem;">
              <img src="{{ i.product_img }}" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Product name: {{ i.product_name }}</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Product link:</b></u> <a target="_blank" href="{{ i.product_url }}">Link To Product On Asos</a></li>
                <li class="list-group-item">Product price:</u></b> {{ i.product_price }}$</li>
                <li class="list-group-item"><a href="{% url "delete" i.id %}">Delete Alert</a></li>
              </ul>
            </div>
</div>

            {% endif %}
              {% endfor %}
          {% endif %}

        </div>

    {% endblock content %}
